<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteName" parallel="methods">
	<listeners>
		<listener class-name="com.saucelabs.testng.SauceOnDemandTestListener"></listener>
		<listener class-name="care.util.ExtentReportLisener"></listener>
	</listeners>
	<test name="TestName">
		<classes>
			<class name="com.test.login.TestScripts"/>
		</classes>
	</test>
</suite>